body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #435663;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFF8D4;
}

.box {
    text-align: center;
    background: #313647;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

h1 {
    margin: 0 0 10px 0;
}

p {
    color: #A3B087;
}